<!-- Script Section -->

<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand">&copy;CopyRight 2020 All right resevered</a>
</nav>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>